<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TPINFO</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Rationale|Source+Sans+Pro" rel="stylesheet">
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <style media="screen">
*{
  font-family: 'Raleway', sans-serif;
}
.boxit{
width: 200px;
word-break: break-all;
white-space: normal;}

.carousel-control{
       background-color: #dae1ed;

}
a{
  color:black;
}
.theme{
   background-color:#eee;
   border: 3px;
   border-radius:5%;
     box-shadow: 5px 0px 40px rgba(210,210,230, .5);
}

#selectcat  {
  transition: background-color 0.5s;
  transition: box-shadow 2s;
  transition: background-color 0.5s;
  background-color: white;
}

#selectcat:hover{
  background-color: rgb(240,250,255);
   box-shadow: 5px 0px 40px rgba(210,210,230, .5);
   cursor: pointer;
}
#selectcat:active{
  background-color: rgb(210,210,235);
}
#selectcat h3{
  font-size: 20px;
  font-size: 20px;
  padding-bottom: 25px;
  transition: font-size 0.5s;
}
#selectcat:hover h3{
  font-size: 25px;
}
#selectcat:active h3{
  font-size: 15px;
}

#selectcat span {
  padding: 20px;
  font-size: 50px;
  transition: padding 0.5s;
}
#selectcat:hover span{
  padding:  0px;
  padding-top: 8px;

}

</style>
<head>
